<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Serapis</title>
    <link rel="icon" type="image/png" href="/static/assets/images/snake.png">

    <!--
SOFTY PINKO
https://templatemo.com/tm-535-softy-pinko
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/font-awesome.css') }}">

    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='assets/css/templatemo-softy-pinko.css') }}">

        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-REK63QPEPV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-REK63QPEPV');
    </script>
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            <img src="/static/assets/images/snake.png" alt="Serapis" />
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!--Text Start-->
                        <p style = "display: inline-block; justify-content: center; align-items: center; color: rgb(28 130 28)" class = "logo">Serapis</p>
                        <!--Text End-->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/main" class="active">Home</a></li>
                            <li><a href="#dataPrivate">Analytics</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1> <strong>Pokemon Showdown Match Analytics</strong></h1>
                        <p>A Tool for Competitive Pokemon Players</p>
                        <a href="#dataPrivate" class="main-button-slider">Generate</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <section class="section colored" id="dataPrivate" style="padding-bottom:10px !important;">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Enter Your Pokemon Showdown Information Below </h2>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->
            <div class="row">
    
                <!-- ***** PUBLIC & PRIVATE COLLECTION START ***** -->
                <div class="offset-md-2 col-lg-8 col-md-6 col-sm-12">
                    <div class="contact-form">
                        <form id="usernamePrivate" action="/get_data_private" method="POST" name="inputUserPrivate" >
                            <div class="row">
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="usernamePrivate" type="text" class="form-control" id="usernamePrivate"
                                            placeholder="Username" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="showdown_pw" type="password" class="form-control" id="showdown_pw"
                                            placeholder="PS! Password" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <fieldset>
                                       
                                            <select style="border: 1px solid #eee !important; height: 50px !important; color: #777 !important; font-size: 14px!important;border: 1px solid #eee!important; outline: none!important; border-radius: 25px!important;" name="gametype" type="text" class="form-control" style aria-label="Game Type" id="gametype"
                                            placeholder="Game Type" required="" >
                                                <option value="" disabled selected hidden>Choose a Game Type</option>
                                                <option value="gen9vgc2023regulationd">gen9vgc2023regulationd</option>
                                              </select>
                                    </fieldset>
                                </div>


                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="username-submit-private" class="main-button">
                                            Display <strong style="color:black;">Private & Public</strong> Replay Match Analytics
                                        </button>

                                        <div id="overlay">
                                            <div id="overlay-content" style="display:none;">
                                                <p>Wait a few seconds to be automatically redirected to Showdown.</p>
                                                <p style="padding-bottom: 20px;">Click the button below after you have logged in to your Pokémon Showdown Account.</p>
                                            
                                                <button id="overlay-button" type="submit" class="main-button" >
                                                    Display Match Analytics 
                                                </button>
                                            </div>
                                            
                                        </div>
                                    </fieldset>
                                    <p style="padding-top: 20px; border-left: 20px;"> Only click this button once. </p>
                                    <p style="padding-top: 20px; border-left: 20px;">Please ensure you have Google Chrome installed. We do not save your password information or have access to it. </p>
                                    <p style="padding-top: 20px; border-left: 20px;">Due to the data processing load, it may take ~10 seconds for analytics to display after you login.</p>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <!-- ***** Username Form Public  + Private End ***** -->
            </div>
        </div>
        
    </section>

    <!-- ***** Username Public+Priv  End ***** -->

    <!-- ***** PUBLIC DATA COLLECTION START ***** -->
    
        <section class="section colored" id="data" style="padding-top: 10px !important;">
            <hr></hr>
            <div class="container" style="padding-top: 10px !important;">
                <div class="row">

                    <!-- ***** Username Form Public Only Start ***** -->
                    <div class="offset-md-2 col-lg-8 col-md-6 col-sm-12">
                        <div class="contact-form">
                            <form id="username" action="/get_data" method="POST" name="inputUser" >
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 col-sm-12">
                                        <fieldset>
                                            <input name="username" type="text" class="form-control" id="username"
                                                placeholder="Username" required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12">
                                        <fieldset>
                                           
                                                <select style="border: 1px solid #eee !important; height: 50px !important; color: #777 !important; font-size: 14px!important;border: 1px solid #eee!important; outline: none!important; border-radius: 25px!important;" name="gametype" type="text" class="form-control" style aria-label="Game Type" id="gametype"
                                                placeholder="Game Type" required="" >
                                                    <option value="" disabled selected hidden>Choose a Game Type</option>
                                                    <option value="gen9vgc2023regulationd">gen9vgc2023regulationd</option>
                                                  </select>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="username-submit" class="main-button" style = "center;">
                                                Display <strong style="color:black;">Public</strong> Replay Match Analytics
                                            </button>
                                        </fieldset>
                                        <p style="padding-top: 20px; border-left: 20px;"> Only click this button once. </p>
                                        <p style="padding-top: 20px; border-left: 20px;">Clicking will open a new tab. Please ensure pop-up blockers are disabled. </p>
                                        <p style="padding-top: 20px; border-left: 20px;">Due to the data processing load, it may take ~10 seconds for analytics to display.</p>
                                    </div>
                                </div>
                            </form>
                        
    
                        </div>
                    </div>
                    <!-- ***** Username Form Public Only End ***** -->
                </div>
    
                
            </div>
        </section>
        <!-- ***** Username Public End ***** -->



    <!-- Display Overall Stats-->

    <section id="overallStats" style="display: none;" class="counter">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <strong>126</strong>
                            <span>Games</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="count-item decoration-top">
                            <strong>63</strong>
                            <span>Wins</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="count-item">
                            <strong>18</strong>
                            <span>Win Rate</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Overarching Stats End ***** -->
  

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p style="color:white; text-align:center;">Please direct questions or concerns to rowananalytics2@gmail.com.</p>
                    <p style="color:white; text-align:center;">Pokémon trademarks remain under the scope of Nintendo, all other functionality provided remains property of Rowan Analytics</p>
                    <ul class="social" style="padding-top: 30px;">
                        <li><a href="https://twitter.com/RowanAnalytics"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/rowan-analytics/?viewAsMember=true"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    </br>
                    <p class="copyright">Copyright &copy; 2023 Rowan Analytics</p>
                </div>
            </div>
        </div>
    </footer>

 
    <!--***JS for displaying overall stats***-->
    <!--<script>
        var submitBtn = document.getElementById("username-submit");
        var newSection = document.getElementById("overallStats");
        var submitted = true; 
        submitBtn.addEventListener("click", function() {
            event.preventDefault(); // prevent the default form submission behavior
            //newSection.style.display = "block";
            newSection.style.display = '{display}'.format(display='none' if not submitted else 'block', submitted=submitted);
        });

    </script> -->
    <!--JS END-->

    <!--Script for tinted button-->
    <!-- <script src="/static/assets/js/screenOverlay.js"></script>-->

    <!-- jQuery -->
    <script src="/static/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/assets/js/popper.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/static/assets/js/scrollreveal.min.js"></script>
    <script src="/static/assets/js/waypoints.min.js"></script>
    <script src="/static/assets/js/jquery.counterup.min.js"></script>
    <script src="/static/assets/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="/static/assets/js/custom.js"></script>

</body>

</html>