<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Serapis</title>
    <link rel="icon" type="image/png" href="/static/assets/images/snake black v3.png">
    <!--
SOFTY PINKO
https://templatemo.com/tm-535-softy-pinko
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/font-awesome.css') }}">

    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='assets/css/templatemo-softy-pinko.css') }}">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-REK63QPEPV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-REK63QPEPV');
    </script>

</head>
<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            <img src="/static/assets/images/snake v3.png" alt="Serapis" />
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!--Text Start-->
                        <p style = "display: inline-block; justify-content: center; align-items: center; color: rgb(28 130 28);padding-top:3px;" class = "logo">Serapis</p>
                        <!--Text End-->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/main" class="active">Home</a></li>
                            <!--<li><a href="#data">Analytics</a></li>-->
                            <li><a href="/pricing">Pricing</a></li>
                        </ul>
                        <a class='menu-trigger'>
                     
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <section class="section colored" style="padding-top:10%;" >
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading" style="padding-bottom: 20px;">
                        <h2 class="section-title"> <strong> Serapis Pricing </strong></h2>
                        <p> First 5 uses 100% FREE! After you find out you love Serapis, select a subscription option below. Help us keep our servers running! </p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <div class="col-lg-12">
                    <!--Method Not Allowed The method is not allowed for the requested URL.
                    <form method="post" action="">-->
                        <stripe-pricing-table pricing-table-id="prctbl_1NciHZDypgtvgAYhjZArg4yj"
                        publishable-key="pk_test_51NchgQDypgtvgAYh43m3w8KWYAah51w7OvDgwvVmizsb4utvaPFgjUTSoYMlAg3zLc7VBlzgeJqXRIGFdpXsNppD00t6RgJjXM">
                        </stripe-pricing-table>
                        
                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                                const form = document.getElementById('subscription-form');
                                const priceIdInput = document.getElementById('subscription_price_id');
                                const pricingTable = document.querySelector('stripe-pricing-table');
                                
                                pricingTable.addEventListener('pricing-table-selected', function(event) {
                                    const selectedPriceId = event.detail.priceId;
                                    priceIdInput.value = selectedPriceId;
                                });
                                
                                form.addEventListener('submit', function(event) {
                                    if (!priceIdInput.value) {
                                        event.preventDefault();
                                        alert('Please select a subscription plan.');
                                    }
                                });
                            });
                        </script>

                        <input type="hidden" id="subscription_price_id" name="subscription_price_id" value="">

                        <!--<button class="main-button" type="submit">Update Subscription</button>-->
                    <!--</form>-->
                    
                    <script>
                        // Handle click event on the pricing table buttons
                        document.addEventListener("pricingtable:clicked", function(event) {
                            const selectedPriceId = event.detail.selectedPricingItemId;
                            document.getElementById("subscription_price_id").value = selectedPriceId;
                        });
                    </script>
                    <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p style="color:white; text-align:center;">Please direct questions or concerns to rowananalytics2@gmail.com.</p>
                    <p style="color:white; text-align:center;">Pokémon trademarks remain under the scope of Nintendo, all other functionality provided remains property of Rowan Analytics</p>
                    <ul class="social" style="padding-top: 30px;">
                        <li><a href="https://twitter.com/RowanAnalytics"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/rowan-analytics/?viewAsMember=true"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    </br>
                    <p class="copyright">Copyright &copy; 2023 Rowan Analytics</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="/static/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/assets/js/popper.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/static/assets/js/scrollreveal.min.js"></script>
    <script src="/static/assets/js/waypoints.min.js"></script>
    <script src="/static/assets/js/jquery.counterup.min.js"></script>
    <script src="/static/assets/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="/static/assets/js/custom.js"></script>


</body>
</html>
